/******** Start top navbar Style ********/

// Start main style
header {
  background: rgba(0, 0, 0, 0.8);
  .navbar {
    font-weight: bold;
  }
  .transparent-navbar {
    background: none !important;
  }
}

@media (min-width: 992px) {
  header {
    background: none;
    .nav-link {
      color: map-get($theme-colors, primary) !important;
      margin-right: 1rem;
      padding-bottom: 1rem;
    }
  }
}
// Start main style

// Start nav top item animation

.nav-item-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(0.0625rem) translateZ(0);
  transform: perspective(0.0625rem) translateZ(0);
  box-shadow: 0 0 0.0625rem rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background-color: #000;
    height: 0.25rem;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  &:hover::before,
  &:focus::before,
  &:active::before {
    left: 0;
    right: 0;
  }
}

// Start nav top item animation

// Start cart button top animation

.cart__button {
  font-size: 1rem;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(0.0625rem) translateZ(0);
  transform: perspective(0.0625rem) translateZ(0);
  box-shadow: 0 0 0.0625rem rgba(0, 0, 0, 0);
  font-weight: 600;
  &:focus {
    box-shadow: none;
  }
  .cart__button--hover {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  &:hover .cart__button--hover,
  &:focus .cart__button--hover,
  &:active .cart__button--hover {
    opacity: 0;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-animation-name: cart__button;
    animation-name: cart__button;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    animation-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }
}

@-webkit-keyframes cart__button {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  51%,
  100% {
    opacity: 1;
  }
}
@keyframes cart__button {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  21%,
  100% {
    opacity: 1;
  }
}

// End cart button top animation

// Start cart button fixed bottom

.hideBtn {
  bottom: -3.75rem !important;
  left: 1.875rem;
  transition: all 0.5s;
}

.cart__button--fixed {
  position: fixed;
  bottom: 1.875rem;
  left: 1.875rem;
  background-color: transparent;
  transition: all 0.5s;
  &:focus {
    box-shadow: none;
  }
  i {
    font-size: 2.5rem;
  }
}

.cart__button--fixed__buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(0.0625rem) translateZ(0);
  transform: perspective(0.0625rem) translateZ(0);
  box-shadow: 0 0 0.0625rem rgba(0, 0, 0, 0);
  -webkit-animation-name: buzz;
  animation-name: buzz;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@keyframes buzz {
  10% {
    -webkit-transform: translateX(0.1875rem) rotate(2deg);
    transform: translateX(0.1875rem) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-0.1875rem) rotate(-2deg);
    transform: translateX(-0.1875rem) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(0.1875rem) rotate(2deg);
    transform: translateX(0.1875rem) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-0.1875rem) rotate(-2deg);
    transform: translateX(-0.1875rem) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(0.125rem) rotate(1deg);
    transform: translateX(0.125rem) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-0.125rem) rotate(-1deg);
    transform: translateX(-0.125rem) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(0.125rem) rotate(1deg);
    transform: translateX(0.125rem) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-0.125rem) rotate(-1deg);
    transform: translateX(-0.125rem) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(0.1875rem) rotate(0);
    transform: translateX(0.1875rem) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-0.1875rem) rotate(0);
    transform: translateX(-0.1875rem) rotate(0);
  }
}

// End cart button fixed bottom

// Start shopping cart style

.shopping__cart {
  z-index: 9999;
  background-color: map-get($theme-colors, light);
  width: 37.5rem;
  max-height: 95vh;
  position: fixed;
  top: 0;
  right: -56.25rem;
  padding: 1.25rem;
  margin: 1.25rem;
  border-radius: 0.3125rem;
  box-shadow: 0px 0px 0.375rem rgba(0, 0, 0, 0.4);
  transition: all 0.7s ease-in-out;
  .shopping__cart--heading {
    i {
      font-size: 1.25rem;
      vertical-align: 0.0625rem;
    }
    h5 {
      font-size: 1.25rem;
      font-weight: 700;
      padding-left: 0.625rem;
    }
  }
  .shopping__cart--close {
    i {
      &:hover {
        color: map-get($theme-colors, secondary);
      }
    }
  }
  .clear__cart {
    background-color: #f8f8f8;
    color: #c4c4c4;
    &:hover {
      background-color: map-get($theme-colors, secondary);
      color: map-get($theme-colors, light);
    }
    &:focus {
      box-shadow: none;
    }
  }
  .remove {
    color: #c4c4c4;
    &:hover {
      color: map-get($theme-colors, secondary);
    }
  }
  .plus,
  .minus {
    color: map-get($theme-colors, primary);
    &:hover {
      color: map-get($theme-colors, secondary);
    }
  }
}

// Start shopping cart style

/******** End top navbar Style ********/
