$theme-colors: (
  "primary": #000000,
  "secondary": #de1325,
  "light": #fff,
);

$navbar-light-color: map-get($theme-colors, light);
$navbar-light-hover-color: map-get($theme-colors, light);

//Start require for loading bootstrap styles
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
//End require for loading bootstrap styles

// Start optional bootstrap element use
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/input-group";
@import "../../node_modules/bootstrap/scss/tables";
// End optional bootstrap element use

// Start my style from other files
@import "../styles/1-header";
@import "../styles/2-top-section";
@import "../styles/3-products";
@import "../styles/4-newsletter-section";
@import "../styles/5-footer-section";
// Start my style from other files

// Start main styles

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  font-weight: 700;
}

// End main styles

// Start loader style

.loader {
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  & > img {
    width: 100px;
    height: auto;
  }
}

.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

// End loader style
